* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: rgb(205, 185, 203);
    /* display: flex; */
    
}

header {
    display: flex;
    flex-direction: column;
    height: 100px;
    background: rgb(84, 84, 226);
    font-family: sans-serif;
    padding-top: 30px;
    align-items: center;
    color: rgb(9, 9, 11);
}

.btn-reset {
    width: 100px;
}

.memory-game {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: 20px auto;
    perspective: 1000px; //3d efect
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .3s;
}

.memory-card {
    height: calc(33,33% - 10px);
    width: calc(25% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}


.front-face, .back-face {
    height: 100%;
    width: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: rgb(128, 128, 235);
}

.front-face {
    backface-visibility: hidden;
}
.back-face {
    transform: rotateY(180deg);

}

.memory-card.flip {
    transform: rotateY(180deg);
}

